.container {
    width: 50%;
    border: 5px solid #bab5b5;
    margin: auto;
    text-align: center;
    padding: 3% 3%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: beige;
}

.heading{
    border-style: dotted;
    background-color: aqua;
}

.heading h1{
    color: red;
}

.tieu-de{
    font-family: Arial, Helvetica, sans-serif;
}

#may_man{
    height: 30px;
}

button#quay_so {
    padding: 8px 12px;
    background-color: yellow;
    border-radius: 10px;
}

